.Expense-header{
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

    margin: 3rem 0 0 0 ;

    background-color: var(--cadet-blue);
}

.Expense-header h2{
    padding-left: 10% ;
}

.Expense-container{
    padding: 1% 15%;

}

.Expense-container-detail{
    /* background-color: red; */
}

.Expense-container-detail div{
    margin: 10% 5%; 
}

.Expense-container-save{
    width: 100%;
    display:flex;
    justify-content: flex-end;
}
.Expense-container-save button{
    width: 30%;
    height: 3rem;
}